<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- https://i.pinimg.com/564x/b9/b8/ec/b9b8ecfa1eb765d455c22038c93ac832.jpg -->

</head>
<body>
    <header id="header">
    <div>
        <a href="/" class="cipher">@Ultron</a>
        <span class="social-links">
            <a href="https://x.com/Ultr0nX_" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/Ultr0nX" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/sunil-kumar-14962b2bb?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=0xc1ph3r.08@gmail.com" target="_blank">
                <i class="fas fa-envelope"></i>
            </a>
        </span>
    </div>

    <nav class="nav-links">
        <!-- <a href="/" class="active">Home</a> Removed -->
        <!-- <a href="/about/" {% if page.url == "/about/" %}class="active"{% endif %}>About</a> -->
        <a href="/blog/" {% if page.url == "/blog/" %}class="active"{% endif %}>UltraLog's</a>
        <a href="/explorations" {% if page.url == "/explorations/" %}class="active"{% endif %}>UltraDives</a>
        <a href="/writeups/" {% if page.url == "/writeups/" %}class="active"{% endif %}>Writeups</a>
        <a href="/projects/" {% if page.url == "/projects/" %}class="active"{% endif %}>Projects</a>
    </nav>
</header>

    
    <main class="home-container">
        {{ content }}
    </main>
    
    <!-- <footer>
        <p>&copy; 2024 {{ site.title }}. All rights reserved.</p>
    </footer> -->

    <script>
    document.addEventListener("DOMContentLoaded", function() {
    const text = "Welcome ! , this is Sunil Kumar aka 0xc1ph3r or Ultron";
    const typewriter = document.getElementById("typewriter");
    typewriter.textContent = text;
        });
    </script>

</body>
</html>